:root{
    --size--container: 1408px;
    --grid--container: 1fr minmax(auto, var(--size--container)) 1fr;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    font-family: 'ibm-plex-sans', sans-serif;    
}

.navbar {
    display: grid;
    grid-template-columns: var(--grid--container);      
}

.button-main{
    width: auto;
    padding: .5em 1em;
    display: inline-block;
    background-color: #ff8000;
    border: 1.5px solid #707070;
    border-radius: 2px;
    color: white;
    font-size: .8em;
    text-transform: uppercase;
    cursor: pointer;
}

.button-stroke{
    width: auto;
    padding: .5em 1em;
    background-color: white;
    border: 1.5px solid #707070;
    border-radius: 2px;
    font-size: .8em;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    transition: all .5s;
}

.button-stroke:hover{
    color: #ff8000;
    border-color: #ff8000;
    background-color: white;
}

.nav-light{
    background: linear-gradient(0deg, rgba(251,183,18,1) 0%, rgba(254,209,6,1) 99%);
    height: 90px;
}

.container-fluid{
    grid-column: 2;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}


/*formulário de busca menu*/
.form-control[type=search] {
    -webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

.form-control::-webkit-search-decoration,
.form-control::-webkit-search-cancel-button {
    display: none; 
}

.form-control[type=search] {
    background: #ededed url(../IMG/icon-lupa.png) no-repeat 350px center;
	border: solid 1px #707070;
	padding: 9px 10px 9px 32px;
	width: 350px;
    
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.form-control:-moz-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}

/* MENU */
.nav_header {
    display: grid;
    grid-template-columns: var(--grid--container);          
}

.justify-content-center{
    grid-column: 2;
    height: 60px;    
}

.nav_header ul { /* coloquei esta classe porque estava dando conflito com outra ul */
    height: 60px;
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: space-around;            
}

.nav_header a{ /* precisei colocar uma classe */ 
    display: flex;
    padding: a 16px;
    height: 60px;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-family: 'rooney-sans', sans-serif;    
}

.nav_header{    
    display: block;
    background: rgba(10, 10, 10, 0.6);
    height: 60px;       
}

/* BANNER | HERO*/

.img-hero{
    width: 100%;
    position: relative;
    top: -60px;
    z-index: -3;
}

.banner{
    display: grid;
    grid-template-columns: var(--grid--container);
    grid-template-rows: 2;     
}

.banner-bees {
    grid-column: 2;                
}

.banner-bees img{
    max-width: 100%;
}


/* BANNER | start slide */

.slider_position{
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 30px;
}

.slider{
    width: 1408px;
    height: auto;    
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 392px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1408px;
    height: auto;
}
  
/*css for manual slide navigation*/

.navigation-manual{
    position: absolute;
    width: 1408px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ff8000;
    padding: 5px;
    width: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #ff8000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1408px;
    justify-content: center;
    margin-top: 352px;
}

.navigation-auto div{
    border: 2px solid #ff8000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
      background: #ff8000;
    }
    
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background: #ff8000;
    }
    
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #ff8000;
    }
    
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background: #ff8000;
  }
  
  /* end slide banner */
  
  /* SIDEBAR */
  
  .sidebar{
    max-width: 1408px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr minmax(200px,300px) minmax(auto,880px) 1fr;    
}

.sidebar-left form{
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
    grid-row: 1/3;    
}

.sidebar-product{
    margin-top: 20px;
}

.sidebar-product ul{
    list-style: none;    
}

.sidebar-product a{
    text-decoration: none;
}

.form-control {
    outline: none;
}

.form-sidebar{    
    padding-bottom: 20px;    
}

input, label, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, select{
    background: #e7e7e7;
    padding: 10px;
    border-radius: 3px;
    border: 3px solid transparent;    
}
.sidebar__filter{
    font-family: 'rooney-sans',sans-serif;
    font-weight: 300;
    font-style: normal;  
}

.link-filter{
    color:#707070;
    font-weight: 400;
    font-style: normal;
}

.sidebar__filter ul{
    color:#F9A51A;
    font-weight: 700;
    font-style: normal;
    flex-direction: column;
}
/*lista de meliponário pagos*/
.classified{     
    border-left: 1px solid #707070;
    margin-left: 20px;
    padding-left: 20px;
}

.img-melipo{
    width: 150px;
    height:150px;
    background-color: rgba(208, 210, 211, .30)
}

.classified img{    
    padding: 8px;
    border-radius: 0px;
}

.classified__content{    
    margin-left: 30px;
    background-color: rgba(208, 210, 211, .30)
}

.classified table{
    margin-top: 10px;
    width: 80%;
    border-collapse: collapse;
    color: #707070;
    left: 15px;
}

.classified__content ul{    
    width: 300px;
    height: auto;
    background-color:#D0D2D3;
    border-radius: 5px;
    color: #707070;
    position: relative;        
    left: 15px;
    top: 30px;    
    
}
.classified__content li{
    color: #545454;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;    
}

.classified__content a, span{
    padding-left: 15px;
    color: #545454;
    font-weight: 600;
    font-style: normal;
}

.classified__content h3 {
    margin-top: 10px;
    padding-left: 15px;    
    /* border-bottom: 1px solid #ff8000; */
    width: 80%;
    color: #545454;
    font-weight: 800;
    font-style: normal;
}

.classified__content button{
    position: relative;
    left: 560px;
    bottom: 1px;
}

/*
Ajustes Código Café
*/
.sidebar__filter{
    grid-column: 2;
    grid-row: 1;
}
.sidebar__filter ul{
    height: auto;
    align-items: flex-start;
}
.sidebar__filter ul li{
    width: 100%;
    padding: 0;
}
.sidebar__filter ul li a{
    display: block;
    padding: 0 8px;
    height: auto;
    line-height: 2rem;
}

.list-item-producto{
    display: block;
    padding: 10px;
    text-align: left;
}

/* .sidebar li{
 display: block;
 padding: 10px;
 text-align: left; 
} */

.classified{
    grid-column: 3;
    grid-row: 1;
    grid-auto-flow: row;
}
.classified > div{
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 4rem;
}

.classified > div h3{
    grid-column: 1/3;
    grid-row: 1/2;
}
.classified > div img{
    grid-column: 1/2;
    grid-row: 2/3;
}
.classified > div .classified__content{
    grid-column: 2/3;
    grid-row: 2/3;
}
.classified > div .classified__content span{
    display:block;
    width: 100%;
}
.classified > div button{
    grid-column: 1/2;
    grid-row: 3/4;
}
.classified > div ul{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.classified > div ul li{
    margin: 0;
    padding: .5rem;
}

/*classificado geral*/

.general{
    display: grid;
    grid-template-columns: 1fr minmax(200px,290px) minmax(auto,440px) minmax(auto,440px) 1fr;
}

.classified__general{
    grid-column: 3;
    grid-row: 1;
    padding-left: 20px;
    margin-left: 20px;    
}

.classified__general__two{
    grid-column: 4;
    grid-row: 1;
    padding-left: 20px;
    margin-left: 20px;    
}

.general img{
    width: 171px;
    height: 171px;
    border-radius: 4px;
}

.general h3{
    /* border-bottom: 2px solid #F9A51A; */
    padding-bottom: 10px;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;    
}

.general a{
    color: #545454;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}


.general ul{
    position: relative;
    right: 4px;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #545454;       
}

.contact__melipo li{
    padding: 0 5px 0 2px;
    margin-right: 23px;
    display: block;
    text-align: left;
    margin-top: 5px;

}

.classified__content__general{
    position: relative;
    left: 200px;
    bottom: 180px
}


.service {
    margin-top: 6px;
    width: 222px;
    height: 23px;
    border: 1px solid #D0D2D3;
    border-radius: 5px;
}

.service li{
    display: inline;
    padding: 0px 5px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #707070;
    position: relative;
    bottom: 3px;        
}

.general button{
    margin: 10px 120px;
}

/* EXIBIÇÃO DO MELIPONÁRIO */

.localization{
    grid-column: 3;     
}

.header-vizualization{
    display: grid;
    grid-template-columns: 1fr minmax(auto,150px) minmax(auto,740px) 1fr;      
    grid-auto-rows: 1fr 400px 1fr;
    margin-left: 40px;
}

.logo-meliponario{
    grid-column: 2;
    width: 200px;
    border-radius: 50%;
    border: 2px solid #707070;
}

.full-address{
    grid-column: 3;
    margin-left: 30px;    
}

.address-meliponario{
    color: #707070;
}

.address-meliponario h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.address-meliponario p{
    font-size: 16px;    
}

.star-dimension, .share-heart{
    width: 30px;
    height: auto;
}

.star, .share{    
    display: flex;
    list-style: none;
    padding: 10px 10px 0px 0px;
}

.list-item{
    margin-right: 10px;
}

/* TEXTO */

.description{
    grid-column: 3;    
    margin-left: 30px;
}

.text-meliponario{
    position: relative;
    bottom: 280px;
    line-height: 1.8;
    color: #707070;
}

/* FOTOS */

.photos{
    list-style: none;
    display: flex;
    position: relative;
    bottom: 220px;
    
}

.photos img{
    width: 200px;
    height: 200px;
    margin-right: 20px;    
}

/* TAGS */

.market h2{
    color: #707070;
    font-size: 20px;
    font-weight: 200;
}

.button-mkt{
    width: auto;
    padding: .5em 1em;
    background-color: #bfbfbf;
    border: 1.5px solid #707070;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #707070;
    cursor: pointer;    
}

.market button{
    margin: 10px 20px 0 0;    
}

.market{
    position: relative;
    bottom: 180px;
}

/* CONTATO */

address h2 {
    color: #707070;
    font-size: 20px;
    margin-bottom: 10px;
}

address{
    position: relative;
    bottom: 120px;
}
.contact{
    list-style: none;
    color: #707070;
}

.contact img{
    margin-right: 10px;
    align-items: center;
}

.contact a{
    text-decoration: none;
    color: #707070;
}

.contact li{
    margin-bottom: 20px;
}

/* REDES SOCIAIS */
.sociais ul{
    list-style: none;
    display: flex;    
}

.sociais li{
    margin-right: 20px;
    position: relative;
    bottom: 190px;
    left: 660px;
}

/* Rodapé */
footer{
    display: grid;
    grid-template-columns: 1fr minmax(200px,300px) minmax(auto,880px) 1fr;        height: 500px;
    background: #262626;   
}

footer h3{       
    grid-column: 2;
    padding-top: 50px;   
}

.mensagem{
    grid-column: 2;
    color: white;    
}

.mensagem p{
    padding-bottom: 5px;
    font-weight: 900;
    font-weight: 200;
    font-size: 16px;
    color: #ffffff;       
}

.inscreva input{
    width: 310px;
    height: 40px;
}

.inscreva{
    grid-column: 3;
    grid-row: 1;
    padding-top: 50px;  
    justify-self: end;  
}

.inscreva p{
    color: #ffffff;
    font-weight: 200;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.button-insc{
    width: auto;
    height: 40px;
    padding: .5em 3em;
    display: inline-block;
    background-color: #ff8000;
    border: 1.5px solid #707070;
    border-radius: 5px;
    color: white;
    font-size: .8em;
    text-transform: uppercase;
    cursor: pointer;
}

.rights{
    grid-column: 2;
    color: #4e4e4e;
    font-size: 14px;    
}

.desenvolvido img{
    width: 200px;
}

.desenvolvido {
    justify-self: end;
    align-self: flex-end;
    margin-bottom: 10px;
}

.desenvolvido p{
    grid-column: 1;
}

.arrow{
    grid-column: 4;
    justify-self: self-end;
    margin-right: 50px;
    cursor: pointer;        
}

.arrow img{    
    width: 40px;    
}

