:root{
    --size--container: 1408px;
    --grid--container: 1fr minmax(auto, var(--size--container)) 1fr;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;    
}

.navbar {
    display: grid;
    grid-template-columns: var(--grid--container);      
}

.button-main{
    width: auto;
    padding: .5em 1em;
    display: inline-block;
    background-color: #ff8000;
    border: 1.5px solid #707070;
    border-radius: 2px;
    color: white;
    font-size: .8em;
    text-transform: uppercase;
    cursor: pointer;
}

.button-stroke{
    width: auto;
    padding: .5em 1em;
    background-color: white;
    border: 1.5px solid #707070;
    border-radius: 2px;
    font-size: .8em;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
    transition: all .5s;
}

.button-stroke:hover{
    color: #ff8000;
    border-color: #ff8000;
    background-color: white;
}

nav{
    background: linear-gradient(0deg, rgba(251,183,18,1) 0%, rgba(254,209,6,1) 99%);
    height: 90px;
}

.container-fluid{
    grid-column: 2;
    padding-top: 15px;    
}

.sidebar-left form{
    border-bottom: 1px solid #707070;
    padding-bottom: 20px;
}
.form-control {
	outline: none;
}

.form-sidebar{
    padding-bottom: 20px;
}

.nav_header {
    display: grid;
    grid-template-columns: var(--grid--container);          
}

.justify-content-center{
    grid-column: 2;
}

ul {
    list-style: none;    
    text-align:center;         
}

li{
    display: inline-block;
    padding: 20px 30px 0 30px;   
}

a{
    text-decoration: none;
    color: white;
    font-family: rooney-sans, sans-serif;    
}

.nav_header{    
    display: block;
    background: rgba(10, 10, 10, 0.6);
    height: 60px;       
}

.img-hero{
    width: 100%;
    position: relative;
    top: -60px;
    z-index: -3;
}

.banner-bees{
    display: grid;
    grid-template-columns: var(--grid--container);   
}

.banner-bees {
    grid-column: 2;             
}

.sidebar{
    display: grid;
    grid-template-columns: 1fr minmax(200px,290px) minmax(auto,880px) 1fr;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}


 /*formulário de busca menu*/
 .form-control[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

.form-control::-webkit-search-decoration,
.form-control::-webkit-search-cancel-button {
	display: none; 
}

.form-control[type=search] {
	background: #ededed url(../IMG/icon-lupa.png) no-repeat 350px center;
	border: solid 1px #707070;
	padding: 9px 10px 9px 32px;
	width: 350px;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.form-control:-moz-placeholder {
	color: #999;
}
.form-control::-webkit-input-placeholder {
	color: #999;
}

.search {
    grid-column: 2;
    position: absolute;
    right: 230px;
    top: 25px;       
}

/*sidebar*/
input, label, select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, select{
    background: #e7e7e7;
    padding: 10px;
    border-radius: 3px;
    border: 3px solid transparent;    
}
.sidebar__filter{
    font-family: rooney-sans,sans-serif;
    font-weight: 300;
    font-style: normal;
   
}

.link-filter{
    color:#707070;
    font-weight: 400;
    font-style: normal;
}

.sidebar__filter ul{
    color:#F9A51A;
    font-weight: 700;
    font-style: normal;
}
/*lista de meliponário pagos*/
.classified{     
    border-left: 1px solid #707070;
    margin-left: 20px;
    padding-left: 20px;
}

.img-melipo{
    width: 150px;
    height:150px;
    background-color: rgba(208, 210, 211, .30)
}

.classified img{    
    padding: 8px;
    border-radius: 0px;
}

.classified__content{    
    margin-left: 30px;
    background-color: rgba(208, 210, 211, .30)

}

.classified table{
    margin-top: 10px;
    width: 80%;
    border-collapse: collapse;
    color: #707070;
    font-family: ibm-plex-sans, sans-serif;
    left: 15px;
}

.classified__content ul{    
    width: 300px;
    height: auto;
    background-color:#D0D2D3;
    border-radius: 5px;
    color: #707070;
    position: relative;        
    left: 15px;
    top: 30px;    
    
}
.classified__content li{
    color: #545454;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    
}

.classified__content a, span{
    padding-left: 15px;
    color: #545454;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.classified__content h3 {
    margin-top: 10px;
    padding-left: 15px;    
    border-bottom: 1px solid #ff8000;
    width: 80%;
    color: #545454;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.classified__content button{
    position: relative;
    left: 560px;
    bottom: 1px;
}

/*
Ajustes Código Café
*/
.sidebar__filter{
    grid-column: 2;
}

.sidebar li{
 display: block;
 padding: 10px;
 text-align: left; 
}

.classified{
    grid-column: 3;
    grid-row: 1;
    grid-auto-flow: row;
}
.classified > div{
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 4rem;
}

.classified > div h3{
    grid-column: 1/3;
    grid-row: 1/2;
}
.classified > div img{
    grid-column: 1/2;
    grid-row: 2/3;
}
.classified > div .classified__content{
    grid-column: 2/3;
    grid-row: 2/3;
}
.classified > div .classified__content span{
    display:block;
    width: 100%;
}
.classified > div button{
    grid-column: 1/2;
    grid-row: 3/4;
}
.classified > div ul{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.classified > div ul li{
    margin: 0;
    padding: .5rem;
}