:root{
    --size--container: 1408px;
    --grid--container: 1fr minmax(auto, var(--size--container)) 1fr;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-size: 16px;
    font-family: 'ibm-plex-sans', sans-serif;    
}


.register_melipoguia{
    display: grid;
    grid-template-columns: var(--grid--container);  
    
}

.company{
    grid-column: 2;   
    background-color: #fbfbfb;
    border-radius: 0 0 10px 10px;
    border: 2px solid #f9a51a;
    margin-bottom: 50px;
    box-shadow: 0 0 3px rgb(0, 0, 0, 1);
}

.title{
  font-size: 20px;
  font-weight: 600;
  color: #f9a51a;
  margin: 30px 0 10px 0;    
}

/* IDENTIFICAÇÃO DA EMPRESA */

.img-company{
  cursor: pointer;
  background-color: #fff;
  width: 185px;
  height: 185px;
  border-radius: 100%;
  border: 2px solid #d0d2d3;
  box-shadow: 0 0 3px #707070;
  position: relative;
  top: 40px;
  left: 100px;
}

.inf{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 400px;
    bottom: 180px;
       
}

.row02{
    position: relative;
    right: 550px;
    top: 90px;
}

.form{    
    color: #707070;
    outline: none;
    border: 1px solid #bebebe;
    border-radius: 3px;
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    padding: 0.5rem;
    margin-bottom: 10px;
}

.form-name{
  width: 100%;
  max-width: 745px;
}

.form-contact{
  width: 50%;
  margin-bottom: 10px;
}

/* DESCRIÇÃO DO MELIPONÁRIO */

.discription-meliponario{
  width: 745px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 250px;  
}

.title-discrition{
  margin-bottom: 10px;  
}

.discription-meliponario textarea{
  background: #ebe9e9;
  padding: 15px;
  border-radius: 5px;
  border: 3px solid transparent;
  font-size: 16px;
  font-style: italic;
  font-family: 'ibm-plex-sans', sans-serif;
  appearance: none;
}

/* ENDEREÇO DA EMPRESA */

.address_choice{
    display: flex;
    position: relative;
    left: 400px;
    bottom: 80px;
}

.address {
    cursor: pointer;
    appearance: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-style: italic;
    width: 250px;
    padding: 8px;
    margin-right: 76px;
    color: #f9a51a;
    background-color: #fbfbfb;
    border: 1px solid #bebebe;
    border-radius: none;
    
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(to right, #ff8000, #ff8000);
    
    background-position:
      calc(100% - 9px) calc(1em),
      calc(100% - 4px) calc(1em),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      1.2em 2.5em;
    background-repeat: no-repeat;    
}
  
  select.address:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, #ff8000, #ff8000);
    background-position:
      calc(100% - 4px) 1em,
      calc(100% - 9px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      1.2em 2.5em;
    background-repeat: no-repeat;
    border-color: #bebebe;
    outline: 0;
  }

.form-contact-text{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 246px;
}

.form-complement{
  width: 700px;
  height: auto;
  display: flex;
  justify-content: space-between;   
}

.form-phone{
  width: 400px;
  height: auto;
  display: flex;
  justify-content: space-between;   
}

.complement{
  width: 100%;
  max-width: 200px;
}

/* PRODUTOS */

.title-mark{
  position: relative;
  left: 250px;
}

.radio-mark{  
  display: flex;
  justify-content: space-between;  
}

.mark-one{
  width: 500px;
  position: relative;
  bottom: 20px;
  left: 400px; 
}

.mark-two{
  width: 650px;
  position: relative;  
  left: 250px; 
}


.signal-product label{
  padding-left: 50px;
  cursor: pointer;
}

.radios {
  cursor: pointer;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #ff8000;
  position: relative;
  /* resolver isso pois está colocando tudos os elementos na vertical */
  display: flex;  
  align-items: center;
  justify-content: center;
}

.radios::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f9a51a;
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.radios:checked::before{
  opacity: 1;
}
/* arrumar a seleção porque uma vez selecionado não da para tirar*/
.radios:focus{
  box-shadow: 0 0 3px #f9a51a;
}


/* FOTOS */

.imagens{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0 0;
  position: relative;
  left: 250px;
}

.imagens-meliponario{  
  cursor: pointer;
  display: inline-block;
  border: 2px dashed #d0d2d3;
  background: white;
  width: 200px;
  height: 200px;
}

/* REDES SOCIAIS */

.title-rd{
  position: relative;
  left: 270px;
  margin-bottom: 10px;
}

.redes-sociais{
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 250px;  
}

.redes-sociais img{
  width: 50px;
  height: 50px;
  position: relative;
  right: 115px;
}

.logo-redes{
  display: flex;
  flex-direction: column;  
}

.logo-redes img{
  margin-bottom: 50px;
}

.form-redes{
  display: flex;
  flex-direction: column;
}

.form-link{
  width: 815px;
  position: relative;
  right: 325px;
  margin: 05px 0 50px 0;
}

/* BOTÕES */

.btn-action{
  display: flex;
  justify-content: center;
  margin: 30px;  
}

.button-main{
  width: auto;
  padding: .8em 4em;
  display: inline-block;
  background-color: #ff8000;
  border: 1.5px solid #707070;
  border-radius: 2px;
  color: white;
  font-size: .8em;
  text-transform: uppercase;
  cursor: pointer;
}

.button-stroke{
  width: auto;
  padding: .8em 4em;
  background-color: white;
  border: 1.5px solid #707070;
  border-radius: 2px;
  font-size: .8em;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
  transition: all .5s;
  margin: 0 30px 0 30px;
}

.button-stroke:hover{
  color: #ff8000;
  border-color: #ff8000;
  background-color: white;
}




